#name{
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    width: 100%;
    height: 100%;
    padding-top: 2%;
    background-color: #0c3e5e;
}

#symbol{
    float: left;
    padding-top: 1%;
    padding-left: 1%;
    width: 3%;
    height: 55%;
    background-color: #0c3e5e;
}