/*
    Style for the home page
*/

.box{
    position: absolute;
    width: 100%;
    height: 2100px;
}

#aboutIntroduction{
    font-family: "Roboto", sans-serif;
    font-size: 200%;
    font-weight: 700;
    align-content: left;
    padding: 55px 5% 30px 15%;
    color: #141952;
}


#aboutIntroductionBody{
    font-family: "Arial","sans-serif";
    font-size: 175%;
    font-weight: 700;
    text-align: left;
    line-height: 150%;
    width: 60%;
    padding-left: 20%;
    color: #1A237E;
}




#portrait{
    height: 10%;
    width: auto;
    padding-left: 40%;
    padding-top: 5%;
}

#resume{
    font-family: "Roboto", sans-serif;
    font-size: 200%;
    font-weight: lighter;
    padding-left: 10%;
    color: #141952;
}
#experience{
    margin: auto;
    padding-top: 50px;
    width:60%;

}
 
.body{
    font-family: "Arial","sans-serif";
    font-size: 100%;
    font-weight: 700;
    line-height: 150%;
    color: #1A237E;
    padding: 5% 10% 5% 30%;
}

#fulcrum{
    background-color: aliceblue;
    width: 90%;
    margin-bottom: 10%;
    box-shadow: 10px 10px 5px #424242;

}

#northshore{
    background-color: aliceblue;
    width: 90%;
    margin-bottom: 10%;
    box-shadow: 10px 10px 5px #424242;

}
#image{
    position: absolute;
    float:left;
    width: 10%;
    height: auto;
    background-color: #0c3e5e;
}

.context{

    height: 80%;
    width: 25%;
    padding: 5% 0% 1% 5%;
}

#bottom{
    background-color: #8CBED6;
    color: white;
    height: 5%;
    font-family: "Arial","sans-serif";
    font-size: 100%;
    font-weight: 525;
    line-height: 100%;
    color: #1A237E;
    padding-left: 40%;
    padding-top: 2%;
}

